.containerabout {

    position: absolute;
    width: 100%;
    height: 3500px;
    top: 0px;
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    
    left: 0;
    transform: translate(-50%, 0);

    animation: slide-up 0.7s ease-out forwards;
    opacity: 1;


}

@keyframes slide-up {
    from {
        transform: translateY(100%);
        opactiy: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
        animation-timing-function: cubic-bezier(0.3, .2, .1, .05);
    }


}



.subsection {

    display:'flex';
    align-items: center;

    position: relative;
    height: 500px;
    width:  65%;
    min-width: 800px;

    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;


    left: 50%;
    transform: translate(-50%, 0);

}

.trustees {

    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    max-width: 600px;
    max-height: 400px;

}

.giffin {
    
    position: absolute;
    left:180px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    max-width: 600px;
    max-height: 400px;

}

.att {
    
    position: absolute;
    left:150px;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 10px;
    max-width: 600px;
    max-height: 400px;

}

.trusteesText {

    display: inline-block;
    position: absolute;
    top: 0%;

    margin-top: 30px;

    text-align: left;

    margin-right: 20px;
    margin-left: 20px;

}

.trusteesText .sub-header {

    text-align: left;
    font-size: 28px;

}

.trusteesText .sub-subHeader {

    text-align: left;
    font-size: 20px;
    line-height: 2;

}

.trusteesText .sub-body {

    line-height: 2;

}


.items {

    position: absolute;
    transition: all 0.5s ease-in-out;

}

.linkedIn {
    top: 100px;
    left: 200px;
    max-height: 300px;
}

.kaggle {
    top: 100px;
    left: 750px;
    max-height: 300px;;

}

.connectText {
    position: relative;
    top: 20px;
    font-size: 30px;
}


.items:hover {

    transform: scale(1.1);

}

.personalImage {

    max-height: 500px;
    border-radius: 5px;
    margin-left:20%;
}

.subsection9 {

    display:flex;
    position: relative;
   
    width: 100%;
    min-width: 700px;

    background-color: white;



    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 10px;

    white-space: nowrap;

}


.subsection1 {

    display:flex;
    position: relative;
   
    width: 55%;
    min-width: 700px;

    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;


    left: 50%;
    transform: translate(-50%, 0);

    padding: 100px;

    border-radius: 10px;

    white-space: nowrap;

}

.subsection2 {

    display:flex;
    position: relative;

   
    width: 55%;
    min-width: 700px;

    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px; 
    /*dumb comment*/


    left: 50%;
    transform: translate(-50%, 0);


    padding: 100px;

    border-radius: 10px;

    white-space: nowrap;

}

.subsection3 {

    display:flex;
    position: relative;
   
    width: 55%;
    min-width: 700px;

    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;


    left: 50%;
    transform: translate(-50%, 0);


    padding: 100px;

    border-radius: 10px;

    white-space: nowrap;

}

.subsection4 {

    display:flex;
    flex-direction: column;
    position: relative;
    height: 525px;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    min-width: 600px;
    max-width: 100%;

    background-color: #1E1E24;
    margin-bottom: 10px;


    left: 50%;
    transform: translate(-50%, 0);

    padding-top: 100px;
    padding-bottom: 100px;

    border-radius: 10px;

    white-space: nowrap;

}

.subsection5 {

    display:flex;
    flex-direction: column;
    position: relative;
    height: 525px;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    min-width: 600px;

    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;


    left: 50%;
    transform: translate(-50%, 0);

    padding-top: 100px;
    padding-bottom: 100px;

    border-radius: 10px;

    white-space: nowrap;

}

.skills {

    height: 400px;
    border-width: 1px;
    border-color: #1E1E24;
}

.skillHeader {

    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;

}

.subsection6 {

    display:flex;
    flex-direction: column;
    position: relative;
    height: 400px;
    justify-content: center;
    align-items: center;
   
    width: 100%;
    min-width: 600px;

    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;


    left: 50%;
    transform: translate(-50%, 0);

    padding-top: 100px;
    padding-bottom: 100px;

    border-radius: 10px;

    white-space: nowrap;

}

.items2 {
    transition: all 0.5s ease-in-out;
    margin: 20px;
}

.items2:hover {

    transform: scale(1.1);

}

.linkedIn2 {
    top: 100px;
    left: 200px;
    max-height: 300px;
}

.kaggle2 {
    top: 100px;
    left: 750px;
    max-height: 300px;;

}

.logoContainer {

    display:flex;
}

.edaHeader {

    margin-bottom: 30px;
    color: white;
    font-size: 40px;
}

.logo1 {
    
    width: 100%;
    height: 100%;
    text-align: left;

}

.logo11 {

    width: 175px;
    height: 100%;
    display: inline-block;
    

}

.logo12{

    vertical-align: top;
    display: inline-flex;
    flex-direction: column;
    width: calc(100% - 175px);
    height:100%;

}



.logo12header1 {

    width: 100%;
    height: 40px;
    font-size: 30px;
    position: relative;

}

.logo12headerp1 {

    position: absolute;
    top:-10px;
    
}

.logo12headerp3 {

    flex: 1;
    width: 100%;
    height: 40px;
    font-size: 30px;
    color: white;
    
}


.logo12header {

    width: 100%;
    font-size: 24px;
    position: relative;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;


}



.logo12headerp {


    top:-10px;
    white-space: normal;
    display: block;
    flex-direction: column;
    flex-grow: 1;
    
}

.logo12subheader {

    margin-top: 5px;
    width: 100%;
    height: 30px;
    font-size: 24px;
    display: inline-block;
    flex-direction: column;
    position: relative;
    flex-grow: 1;
    
}

.logo12subheaderp {

    /*position: relative;*/
    top:0px;
    font-size: 16px;
    margin-top: 0px;
    display: block;
    

}

.logo12body {

    margin-top: 10px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    display: block;
    position: relative;

}

.logo12bodyp {

    top:0px;
    font-size: 16px;
    line-height: 1.75;
    white-space: normal;
    display: block;
    flex-direction: column;
    flex-grow: 1;
   

}




.custom-list {

    list-style-type: disc;

}


.giffinLogo {

    max-width: 150px;

}

.subsection7 {

    display:flex;
    flex-direction: column;
    position: relative;
    height: 150px;
    justify-content: center;
    align-items: center;
   
    max-width: 100%;
    width: 100%;
    min-width: 1200px;

    background-color: white;
    margin-bottom: 10px;


    left: 50%;
    transform: translate(-50%, 0);


    white-space: nowrap;

    
    border-radius: 0px;

}

.subsection7 p {

    font-size: 40px;
}

.subsection8 {

    display:flex;
    flex-direction: column;
    position: relative;
    height: 150px;
    justify-content: center;
    align-items: center;
   
    max-width: 100%;
    width: 95%;
    min-width: 1200px;

    background-color: white;


    left: 50%;
    transform: translate(-50%, 0);


    white-space: nowrap;

    
    border-radius:10px 10px 0 0;

}

.subsection8 p {

    font-size: 40px;
}












